<div class="container m-5">
    <div class="row">
        <div class="col-md-12">
            <h2>Simple row height</h2>
            <mat-grid-list cols="3" rowHeight="100px">
                <mat-grid-tile colspan="2">Tile 1</mat-grid-tile>
                <mat-grid-tile>Tile 2</mat-grid-tile>
                <mat-grid-tile>Tile 3</mat-grid-tile>
                <mat-grid-tile rowspan="2">Tile 4</mat-grid-tile>
                <mat-grid-tile>Tile 5</mat-grid-tile>
                <mat-grid-tile>Tile 6</mat-grid-tile>
                <mat-grid-tile>Tile 7</mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Row height with respect to column height</h2>
            <mat-grid-list cols="3" rowHeight="2:1">
                <mat-grid-tile colspan="2">Tile 1</mat-grid-tile>
                <mat-grid-tile>Tile 2</mat-grid-tile>
                <mat-grid-tile>Tile 3</mat-grid-tile>
                <mat-grid-tile rowspan="2">Tile 4</mat-grid-tile>
                <mat-grid-tile>Tile 5</mat-grid-tile>
                <mat-grid-tile>Tile 6</mat-grid-tile>
                <mat-grid-tile>Tile 7</mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
</div>