<div class="container">
    <div class="row m-5">
        <div class="col-md-12 d-flex justify-content-center" >
            <form class="example-form">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Number</mat-label>
                    <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"
                        [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>
        </div>
    </div>
</div>