<div class="container">
    <div class="row mt-2">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Angular Sidenav</h5>
                    <p class="card-text">Side Navigation Example</p>
                    <a routerLink="/sidenav" class="btn btn-link">View Example</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Angular Stepper</h5>
                    <p class="card-text">Stepper Example</p>
                    <a routerLink="/signupu-with-stepper" class="btn btn-link">View Example</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Angular Badges</h5>
                    <p class="card-text">Badges Example</p>
                    <a routerLink="/badges" class="btn btn-link">View Example</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Progress Spinner</h5>
                    <p class="card-text">Progress Spinner Example</p>
                    <a routerLink="/spinner" class="btn btn-link">View Example</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Angular Card</h5>
                    <p class="card-text">Card Example</p>
                    <a routerLink="/card" class="btn btn-link">View Example</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Angular Grid List</h5>
                    <p class="card-text">Angular Grid List Example</p>
                    <a routerLink="/grid" class="btn btn-link">View Example</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Angular Chip</h5>
                    <p class="card-text">Angular Chip Example</p>
                    <a routerLink="/chip" class="btn btn-link">View Example</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Angular Virtual Scroller</h5>
                    <p class="card-text">Angular Virtual Scroller Example</p>
                    <a routerLink="/virtual-scroll" class="btn btn-link">View Example</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Angular Autocomplete</h5>
                    <p class="card-text">Angular Autocomplete Example</p>
                    <a routerLink="/autocomplete" class="btn btn-link">View Example</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Angular Expansion Panel</h5>
                    <p class="card-text">Angular Expansion Panel Example</p>
                    <a routerLink="/expansion-panel" class="btn btn-link">View Example</a>
                </div>
            </div>
        </div>
    </div>
</div>